<#import "../base.ftlh" as main/>

<@main.layout>
    <div class="container error-page">
        <h1>403 <br> Ошибка доступа!</h1>
        <img src="/images/403.png" alt="Ошибка" class="error-img">
        <h2>Вы пытаетесь выполнить действие с ограниченным доступом</h2>

        <a class="btn" href="/login">Перейти к аутентификации</a>
    </div>
</@main.layout>