* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

header {
    background-color: #f74f55;
    background-image: url("../images/NCBF_3.jpg");
    height: 200px;
    background-position: top;
    background-repeat: no-repeat;
}

.header-content {
    display: flex;
}

.logo {
    flex-basis: 60%;
    margin-top: 10px;
}

.menu {
    flex-basis: 35%;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

.menu-items {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: normal;
}

.menu-items:hover{
    color: #f74f55e5;
}

.heading h1 {
    font-size: 40px;
    line-height: 10px;
    color: #fff;
    margin-top: 45px;
    font-weight: normal;
}

.heading p {
    color: #fff;
    font-size: 16px;
    line-height: 45px;
    margin-bottom: 10px;
}

.button {
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 3px 10px;
}

.button:hover {
    color: darkred;
}

.article {
    padding: 80px 30px;
}

.article h2 {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 20px;
}

.article p {
    font-size: 14px;
    line-height: 25px;
    color: #404040;
    margin-bottom: 30px;
}

.small-rainbow {
    background-image: url("../images/bg-bricks.jpg");
    background-repeat: no-repeat;
    width: 140px;
    height: 20px;
}

.advantages {
    display: flex;
    background-color: #2d5f3b;
    color: #fff;
}

.advantages_content {
    display: flex;
    width: 1000px;
    margin: 0 auto;

}

.flexy {
    display: flex;
    flex-direction: column;
}

.advantages h3 {
    font-size: 22px;
    line-height: 45px;
    padding-left: 40px;
    padding-right: 20px;
    margin-top: 15px;
}

.advantages p {
    font-size: 14px;
    line-height: 25px;
    padding-left: 40px;
    padding-right: 20px;

}

.advantages a {
    font-size: 34px;
    line-height: 45px;
    background: rgba(0,0,0,0.5);
    align-self: flex-end;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.colored {
    background: #f74c55;
}

.seo_optimized::before {
    content: "";
    background-image: url("../images/ic-stat.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-position-x: 0px;
    background-position-y: 4px;
    vertical-align: top;
}

.responsive::before {
    content: "";
    background-image: url("../images/ic-screen.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-position-x: 0px;
    background-position-y: 4px;
    vertical-align: top;
    margin-right: 10px;
}

.cloud_services::before {
    content: "";
    background-image: url("../images/ic-cloud.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-position-x: 0px;
    background-position-y: 4px;
    vertical-align: top;
    margin-right: 10px;
}

.basement {
    display: flex;
    color: #fff;
    background-image: url("../images/photo-1535905748047-14b2415c77d5.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.basement h2 {
    font-size: 42px;
    line-height: 54px;
}

.basement a {
    border: 2px solid #fff;
    font-size: 24px;
    line-height: 54px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 40px;
}

footer {
    height: 60px;
}

footer h4 {
    color: #404040;
    font-size: 16px;
    font-weight: normal;
    line-height: 53px;
    text-align: center;
}


footer::before {
    content: "";
    background-image: url("../images/bg-bricks.jpg");
    height: 7px;
    display: block;
}
